@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;

500;600;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(21, 21, 21, 0.4);
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.icon-menu {
  display: none;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  line-height: 150%;
  /* 21/14 */
  color: #181818;
  font-weight: 500;
}

.button--violet {
  color: #fff;
  background-color: #656293;
  border-radius: 0.625rem;
  padding: 0.5rem 1.25rem;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.title {
  color: #151515;
  font-weight: 700;
  line-height: 150%;
  /* 54/36 */
}

.title--min {
  color: #151515;
  font-weight: 600;
  line-height: 150%;
  /* 36/24 */
}

.text {
  font-size: 1rem;
  line-height: 150%;
  /* 24/16 */
  letter-spacing: 2%;
}

.hint {
  font-size: 0.875rem;
  line-height: 150%;
  /* 21/14 */
  text-transform: uppercase;
  font-weight: 500;
}

.hint:not(:last-child) {
  margin-bottom: 0.625rem;
}

.airport {
  text-transform: uppercase;
  color: #151515;
  font-size: 1.5rem;
  line-height: 150%;
  /* 36/24 */
  font-weight: 600;
}

.airport:not(:last-child) {
  margin-bottom: 0.625rem;
}

.date {
  text-transform: uppercase;
  color: #151515;
  font-size: 1.5rem;
  line-height: 150%;
  /* 36/24 */
  font-weight: 600;
}

.date:not(:last-child) {
  margin-bottom: 0.625rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header._header-scroll {
  background-color: rgba(255, 255, 255, 0.9);
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -webkit-transition: min-height 0.3s;
  transition: min-height 0.3s;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.625rem;
}

.menu__link {
  line-height: 150%;
  /* 21/14 */
  color: #181818;
  font-weight: 500;
}

.footer {
  background-color: #656293;
}

.footer__logo {
  text-align: center;
}

.footer__logo img {
  max-width: 100%;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  border-top: 0.125rem solid rgba(255, 255, 255, 0.3);
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  line-height: 150%;
  /* 21/14 */
}

.menu-footer__link {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  line-height: 150%;
  /* 21/14 */
}

.hero {
  position: relative;
}

.hero__container {
  position: relative;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
}

.hero__title {
  color: #151515;
  line-height: 113.235294%;
  /* 77/68 */
  text-transform: capitalize;
}

.hero__title span {
  text-transform: uppercase;
  color: #656293;
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.3125rem;
  color: #151515;
  line-height: 150%;
  /* 24/16 */
  font-weight: 500;
}

.hero__link::after {
  content: "";
  background: url("../img/icons/arrow-black.svg") center no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1rem;
          flex: 0 0 1rem;
  width: 1rem;
  height: 1rem;
  rotate: 180deg;
}

.hero__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
}

.booking__container {
  position: relative;
  z-index: 20;
}

.booking__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking__link {
  color: #151515;
  font-weight: 600;
  line-height: 150%;
  /* 21/14 */
}

.booking__link::after {
  content: "";
  background: url("../img/icons/arrow-drop.svg") 60% 70% no-repeat;
  width: 1rem;
  height: 1rem;
}

.booking__action {
  color: #151515;
  font-weight: 600;
  line-height: 150%;
  /* 21/14 */
  text-decoration: underline;
}

.booking__action:not(:last-child) {
  margin-bottom: 1.25rem;
}

.booking__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding: 1.75rem 1.9375rem;
  line-height: 150%;
  /* 27/18 */
  font-weight: 500;
}

.booking__button::after {
  content: "";
  background: url("../img/icons/arrow-white.svg") 50% 50% no-repeat;
  width: 1rem;
  height: 1rem;
}

.body-booking {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr auto;
  grid-template-columns: 2fr auto;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
}

.flight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  row-gap: 0.625rem;
}

.flight__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.125rem solid rgba(21, 21, 21, 0.4);
  border-radius: 0.625rem;
}

.item-flight__airport {
  padding: 0.3125rem;
  width: 100%;
}

.item-flight__airport::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #151515;
  font-size: 1.5rem;
  line-height: 150%;
  /* 36/24 */
  font-weight: 600;
}

.item-flight__airport::-moz-placeholder {
  text-transform: uppercase;
  color: #151515;
  font-size: 1.5rem;
  line-height: 150%;
  /* 36/24 */
  font-weight: 600;
}

.item-flight__airport:-ms-input-placeholder {
  text-transform: uppercase;
  color: #151515;
  font-size: 1.5rem;
  line-height: 150%;
  /* 36/24 */
  font-weight: 600;
}

.item-flight__airport::-ms-input-placeholder {
  text-transform: uppercase;
  color: #151515;
  font-size: 1.5rem;
  line-height: 150%;
  /* 36/24 */
  font-weight: 600;
}

.item-flight__airport::placeholder {
  text-transform: uppercase;
  color: #151515;
  font-size: 1.5rem;
  line-height: 150%;
  /* 36/24 */
  font-weight: 600;
}

.flight-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1.75rem;
  height: 1.75rem;
  border: 0.0625rem solid rgba(21, 21, 21, 0.4);
  border-radius: 50%;
  padding: 0.3125rem;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  border: 0.125rem solid rgba(21, 21, 21, 0.4);
  border-radius: 0.625rem;
}

.calendar__item {
  position: relative;
}

.calendar__item::before {
  content: "";
  position: absolute;
  background: url("../img/icons/calendar.svg") no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  top: 40%;
}

.calendar__date {
  padding-right: 0.625rem;
}

.calendar__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.3125rem;
}

.purposes {
  padding-top: 1.25rem;
}

.purposes__title {
  text-align: center;
}

.purposes__item:not(:last-child) {
  margin-bottom: 2.5rem;
}

.item-purposes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.25rem;
}

.item-purposes__body {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.item-purposes__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-purposes__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  overflow: hidden;
}

.item-purposes__image img {
  border-radius: 1.25rem;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.specifications__title {
  text-align: center;
}

.specifications__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.875rem;
}

.specifications-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specifications-item {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.item-specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 0.125rem solid rgba(99, 99, 99, 0.22);
  border-radius: 0.75rem;
  background-color: #fff;
  -webkit-box-shadow: -2px 14px 23px 3px rgba(99, 99, 99, 0.22);
          box-shadow: -2px 14px 23px 3px rgba(99, 99, 99, 0.22);
}

.item-specifications__icon {
  width: 3.4375rem;
  height: 3.4375rem;
}

.item-specifications__icon img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-specifications__title {
  text-align: center;
  font-size: 1.125rem;
  line-height: 150%;
  /* 27/18 */
  font-weight: 500;
  color: #151515;
}

.item-specifications__text {
  text-align: center;
}

.items-specifications-image {
  -webkit-animation: airplane-big 4s infinite linear;
          animation: airplane-big 4s infinite linear;
}

@-webkit-keyframes airplane-big {
  0% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }

  50% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }

  100% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}

@keyframes airplane-big {
  0% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }

  50% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }

  100% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}

.items-specifications-image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.charters__title {
  text-align: center;
}

.charters__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.25rem;
}

.charters__item {
  color: #151515;
  padding: 0.9375rem;
  -webkit-box-shadow: -2px 14px 23px 3px rgba(99, 99, 99, 0.22);
          box-shadow: -2px 14px 23px 3px rgba(99, 99, 99, 0.22);
  background-color: #fff;
  border-radius: 0.625rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.charters .item-charters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.charters__image {
  border-radius: 0.625rem;
  overflow: hidden;
}

.charters__image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.charters__label {
  text-align: center;
  line-height: 150%;
  /* 24/16 */
  font-weight: 500;
}

.membership__title {
  text-align: center;
}

.membership__items {
  display: -ms-grid;
  display: grid;
  row-gap: 1.875rem;
}

.membership__item {
  color: #151515;
  background-color: #F5F5F5;
  border-radius: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.membership__sub-title {
  font-weight: 700;
}

.membership__label {
  color: #A9A9AA;
  line-height: 145.454545%;
  /* 32/22 */
  text-transform: capitalize;
}

.membership__subitem {
  background: url("../img/icons/check.svg") left 0.1875rem no-repeat;
  padding-left: 1.875rem;
  line-height: 150%;
  /* 24/16 */
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.membership__subitem:last-child {
  padding-bottom: 1.25rem;
  border-bottom: 0.125rem dashed rgba(21, 21, 21, 0.4);
}

.membership__price {
  line-height: 125%;
  /* 40/32 */
  font-weight: 700;
}

.membership__price span {
  font-size: 1.125rem;
  line-height: 222.222222%;
  /* 40/18 */
  font-weight: 400;
}

.membership__button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.membership__btn {
  width: 100%;
  padding: 1.25rem 0 1.25rem 0;
}

.membership__item:hover .membership__subitem {
  background: url("../img/icons/check-white.svg") left 0.1875rem no-repeat;
}

.membership__item:hover .membership__btn {
  background-color: #fff;
  color: #151515;
}

.airplane {
  text-align: center;
}

.airplane img {
  max-width: 100%;
}

@media (min-width: 29.99875em) {
  .membership__items {
    grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

@media (min-width: 47.99875em) {
  .hero__image {
    position: relative;
    border-radius: 7.5rem;
    border: 0.9375rem solid #fff;
    -webkit-box-shadow: 2px 20px 28px -7px rgba(90, 94, 93, 0.73);
            box-shadow: 2px 20px 28px -7px rgba(90, 94, 93, 0.73);
    overflow: hidden;
  }

  .no-webp .hero__image::before{
    background: url("../img/hero/04.jpg") 100% 50% no-repeat fixed; }

  .hero__image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .booking__container {
    border: 0.125rem solid rgba(21, 21, 21, 0.4);
    border-radius: 0.9375rem;
    background-color: #fff;
    -webkit-box-shadow: -2px 14px 23px 3px rgba(0, 0, 0, 0.22);
            box-shadow: -2px 14px 23px 3px rgba(0, 0, 0, 0.22);
    -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
            transform: translateY(-40%);
  }

  .booking__btn {
    position: absolute;
    left: 40%;
  }

  .purposes__items {
    position: relative;
  }

  .purposes__items::before {
    content: "";
    position: absolute;
    top: -6%;
    left: -100%;
    height: 50%;
    width: 130%;
    border-radius: 1.25rem;
    background-color: #E5F4F6;
    z-index: -5;
  }

  .purposes__items::after {
    content: "";
    position: absolute;
    bottom: -4%;
    right: -100%;
    height: 50%;
    width: 130%;
    border-radius: 1.25rem;
    background-color: #E5F4F6;
    z-index: -5;
  }

  .purposes__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }

  .item-purposes:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .item-purposes__body {
    padding: 0.9375rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 73.125em) {
  .hero__image {
    width: 22.125rem;
  }

  .hero__image {
    height: 28.5625rem;
  }

  .booking {
    padding-right: 1.25rem;
  }

  .booking {
    padding-left: 1.25rem;
  }

  .booking__container {
    padding-left: 1.25rem;
  }

  .booking__container {
    padding-right: 1.25rem;
  }

  .purposes__items {
    row-gap: 9.375rem;
  }
}

@media (min-width: 61.99875em) {
  .membership__container {
    max-width: 78.75rem;
  }
}

@media (min-width: 73.125em) {
  .title {
    font-size: 2.25rem;
  }

  .title--min {
    font-size: 1.5rem;
  }

  .header {
    padding-top: 1.875rem;
  }

  .header {
    padding-bottom: 1.875rem;
  }

  .header__container {
    min-height: 7.5rem;
  }

  ._header-scroll .header__container {
    min-height: 4.375rem;
  }

  .header__action {
    gap: 1.25rem;
  }

  .footer__container {
    padding-top: 2.5rem;
  }

  .footer__container {
    padding-bottom: 1.875rem;
  }

  .footer__logo {
    padding-bottom: 1.25rem;
  }

  .footer__body {
    padding-top: 1.25rem;
  }

  .footer__menu {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .hero {
    padding-top: 10.625rem;
  }

  .hero {
    padding-bottom: 10.625rem;
  }

  .hero__content {
    padding-top: 1.875rem;
  }

  .hero__content {
    padding-bottom: 1.875rem;
  }

  .hero__title {
    font-size: 4.125rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .booking {
    padding-top: 1.25rem;
  }

  .booking {
    padding-bottom: 1.25rem;
  }

  .booking__container {
    padding-top: 1.875rem;
  }

  .booking__container {
    padding-bottom: 1.875rem;
  }

  .booking__menu:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .booking__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .booking__body:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .flight__item {
    padding: 1.25rem;
  }

  .calendar {
    padding: 1.25rem;
  }

  .calendar__item {
    padding-right: 1.875rem;
  }

  .purposes {
    padding-bottom: 5rem;
  }

  .purposes__container {
    padding-top: 1.875rem;
  }

  .purposes__header:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .specifications {
    padding-top: 5rem;
  }

  .specifications {
    padding-bottom: 2.5rem;
  }

  .specifications__header:not(:last-child) {
    margin-bottom: 7.5rem;
  }

  .specifications-items {
    row-gap: 2.5rem;
  }

  .item-specifications {
    padding-top: 3.125rem;
  }

  .item-specifications {
    padding-bottom: 2.5rem;
  }

  .charters {
    padding-top: 5rem;
  }

  .charters {
    padding-bottom: 2.5rem;
  }

  .charters__header:not(:last-child) {
    margin-bottom: 5rem;
  }

  .membership {
    padding-top: 5rem;
  }

  .membership {
    padding-bottom: 2.5rem;
  }

  .membership__header:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .membership__item {
    padding: 1.25rem;
  }

  .membership__sub-title {
    font-size: 2rem;
  }

  .membership__sub-title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .membership__label {
    font-size: 1.375rem;
  }

  .membership__label:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .membership__list:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .membership__subitem:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .membership__price {
    font-size: 2rem;
  }

  .membership__price:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .airplane {
    padding-top: 2.5rem;
  }

  .airplane {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 76.5625rem) {
  .purposes__items {
    -webkit-transform: translateX(5%);
        -ms-transform: translateX(5%);
            transform: translateX(5%);
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.75rem;
  }

  .title--min {
    font-size: 1.375rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__container {
    min-height: 4.375rem;
  }

  ._header-scroll .header__container {
    min-height: 3.125rem;
  }

  .header__action {
    gap: 0.625rem;
  }

  .footer__container {
    padding-top: 1.25rem;
  }

  .footer__container {
    padding-bottom: 0.9375rem;
  }

  .footer__logo {
    padding-bottom: 0.625rem;
  }

  .footer__body {
    padding-top: 0.9375rem;
  }

  .footer__menu {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .hero {
    padding-top: 5rem;
  }

  .hero {
    padding-bottom: 1.25rem;
  }

  .hero__content {
    padding-top: 1.25rem;
  }

  .hero__content {
    padding-bottom: 1.25rem;
  }

  .hero__title {
    font-size: 2.375rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .booking {
    padding-top: 0.9375rem;
  }

  .booking {
    padding-bottom: 0.9375rem;
  }

  .booking__container {
    padding-top: 0.9375rem;
  }

  .booking__container {
    padding-bottom: 0.9375rem;
  }

  .booking__menu:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .booking__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .booking__body:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .flight__item {
    padding: 0.625rem;
  }

  .calendar {
    padding: 0.625rem;
  }

  .calendar__item {
    padding-right: 1.25rem;
  }

  .purposes {
    padding-bottom: 1.25rem;
  }

  .purposes__container {
    padding-top: 1.25rem;
  }

  .purposes__header:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .specifications {
    padding-top: 2.5rem;
  }

  .specifications {
    padding-bottom: 0.9375rem;
  }

  .specifications__header:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .specifications-items {
    row-gap: 1.25rem;
  }

  .item-specifications {
    padding-top: 1.25rem;
  }

  .item-specifications {
    padding-bottom: 1.25rem;
  }

  .charters {
    padding-top: 2.5rem;
  }

  .charters {
    padding-bottom: 0.9375rem;
  }

  .charters__header:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .membership {
    padding-top: 2.5rem;
  }

  .membership {
    padding-bottom: 0.9375rem;
  }

  .membership__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .membership__item {
    padding: 0.625rem;
  }

  .membership__sub-title {
    font-size: 1.5rem;
  }

  .membership__sub-title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .membership__label {
    font-size: 1.125rem;
  }

  .membership__label:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .membership__list:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .membership__subitem:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .membership__price {
    font-size: 1.5rem;
  }

  .membership__price:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .airplane {
    padding-top: 1.25rem;
  }

  .airplane {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
    row-gap: 1.875rem;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 5rem 0.9375rem 0.9375rem 1.875rem;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #fff;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .text {
    font-size: 1.25rem;
  }

  .header__container {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }

  .header__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
    row-gap: 1.25rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.5rem;
    row-gap: 1.25rem;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
  }

  .hero__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-booking {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .flight__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .calendar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-purposes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .specifications__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .items-specifications-image {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    rotate: 90deg;
    max-width: 50%;
    -webkit-animation: airplane 3s infinite;
            animation: airplane 3s infinite;
  }

@-webkit-keyframes airplane {
    0% {
      -webkit-transform: translateY(80%);
              transform: translateY(80%);
    }

    100% {
      -webkit-transform: translateY(-190%);
              transform: translateY(-190%);
    }
}

@keyframes airplane {
    0% {
      -webkit-transform: translateY(80%);
              transform: translateY(80%);
    }

    100% {
      -webkit-transform: translateY(-190%);
              transform: translateY(-190%);
    }
}
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .flight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .flight-image img {
    rotate: 90deg;
  }
}

@media (max-width: 20rem) {
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (font-size: clamp( 1.75rem , 1.5617647059rem  +  0.9411764706vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.75rem , 1.5617647059rem  +  0.9411764706vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5617647059rem  +  0.9411764706vw , 2.25rem )) {
    .title {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.375rem , 1.3279411765rem  +  0.2352941176vw , 1.5rem )) {
    .title--min {
      font-size: clamp( 1.375rem , 1.3279411765rem  +  0.2352941176vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.3279411765rem  +  0.2352941176vw , 1.5rem )) {
    .title--min {
      font-size: calc(1.375rem + 0.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .header {
      padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .header {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .header {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (min-height: clamp( 4.375rem , 3.1985294118rem  +  5.8823529412vw , 7.5rem )) {
    .header__container {
      min-height: clamp( 4.375rem , 3.1985294118rem  +  5.8823529412vw , 7.5rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.1985294118rem  +  5.8823529412vw , 7.5rem )) {
    .header__container {
      min-height: calc(4.375rem + 3.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (min-height: clamp( 3.125rem , 2.6544117647rem  +  2.3529411765vw , 4.375rem )) {
    ._header-scroll .header__container {
      min-height: clamp( 3.125rem , 2.6544117647rem  +  2.3529411765vw , 4.375rem );
    }
}

@supports not (min-height: clamp( 3.125rem , 2.6544117647rem  +  2.3529411765vw , 4.375rem )) {
    ._header-scroll .header__container {
      min-height: calc(3.125rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .header__action {
      gap: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .header__action {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .footer__container {
      padding-top: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .footer__container {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .footer__container {
      padding-bottom: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .footer__container {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .footer__logo {
      padding-bottom: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .footer__logo {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) {
    .footer__body {
      padding-top: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) {
    .footer__body {
      padding-top: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem ))) {
    .footer__menu {
      -webkit-column-gap: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
         -moz-column-gap: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
              column-gap: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem ))) {
    .footer__menu {
      -webkit-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 5rem , 2.8823529412rem  +  10.5882352941vw , 10.625rem )) {
    .hero {
      padding-top: clamp( 5rem , 2.8823529412rem  +  10.5882352941vw , 10.625rem );
    }
}

@supports not (padding-top: clamp( 5rem , 2.8823529412rem  +  10.5882352941vw , 10.625rem )) {
    .hero {
      padding-top: calc(5rem + 5.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -2.2794117647rem  +  17.6470588235vw , 10.625rem )) {
    .hero {
      padding-bottom: clamp( 1.25rem , -2.2794117647rem  +  17.6470588235vw , 10.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -2.2794117647rem  +  17.6470588235vw , 10.625rem )) {
    .hero {
      padding-bottom: calc(1.25rem + 9.375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .hero__content {
      padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .hero__content {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .hero__content {
      padding-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .hero__content {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 2.375rem , 1.7161764706rem  +  3.2941176471vw , 4.125rem )) {
    .hero__title {
      font-size: clamp( 2.375rem , 1.7161764706rem  +  3.2941176471vw , 4.125rem );
    }
}

@supports not (font-size: clamp( 2.375rem , 1.7161764706rem  +  3.2941176471vw , 4.125rem )) {
    .hero__title {
      font-size: calc(2.375rem + 1.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) {
    .booking {
      padding-top: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) {
    .booking {
      padding-top: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) {
    .booking {
      padding-bottom: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) {
    .booking {
      padding-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .booking__container {
      padding-top: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .booking__container {
      padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .booking__container {
      padding-bottom: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .booking__container {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .booking__menu:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .booking__menu:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem ))) {
    .booking__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem );
         -moz-column-gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem );
              column-gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem ))) {
    .booking__list {
      -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .booking__body:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .booking__body:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .flight__item {
      padding: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .flight__item {
      padding: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .calendar {
      padding: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .calendar {
      padding: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .calendar__item {
      padding-right: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .calendar__item {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1617647059rem  +  7.0588235294vw , 5rem )) {
    .purposes {
      padding-bottom: clamp( 1.25rem , -0.1617647059rem  +  7.0588235294vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1617647059rem  +  7.0588235294vw , 5rem )) {
    .purposes {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .purposes__container {
      padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .purposes__container {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.2279411765rem  +  8.2352941176vw , 6.25rem )) {
    .purposes__header:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.2279411765rem  +  8.2352941176vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.2279411765rem  +  8.2352941176vw , 6.25rem )) {
    .purposes__header:not(:last-child) {
      margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .specifications {
      padding-top: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .specifications {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .specifications {
      padding-bottom: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .specifications {
      padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 0.6176470588rem  +  9.4117647059vw , 7.5rem )) {
    .specifications__header:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 0.6176470588rem  +  9.4117647059vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 0.6176470588rem  +  9.4117647059vw , 7.5rem )) {
    .specifications__header:not(:last-child) {
      margin-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 53.125);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .specifications-items {
      row-gap: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .specifications-items {
      row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .item-specifications {
      padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .item-specifications {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .item-specifications {
      padding-bottom: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .item-specifications {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .charters {
      padding-top: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .charters {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .charters {
      padding-bottom: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .charters {
      padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .charters__header:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .charters__header:not(:last-child) {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .membership {
      padding-top: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.5588235294rem  +  4.7058823529vw , 5rem )) {
    .membership {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .membership {
      padding-bottom: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3492647059rem  +  2.9411764706vw , 2.5rem )) {
    .membership {
      padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .membership__header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5441176471rem  +  3.5294117647vw , 3.125rem )) {
    .membership__header:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .membership__item {
      padding: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
    }
}

@supports not (padding: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .membership__item {
      padding: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem )) {
    .membership__sub-title {
      font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem )) {
    .membership__sub-title {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .membership__sub-title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .membership__sub-title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0308823529rem  +  0.4705882353vw , 1.375rem )) {
    .membership__label {
      font-size: clamp( 1.125rem , 1.0308823529rem  +  0.4705882353vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0308823529rem  +  0.4705882353vw , 1.375rem )) {
    .membership__label {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) {
    .membership__label:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) {
    .membership__label:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 2.0294117647rem  +  2.3529411765vw , 3.75rem )) {
    .membership__list:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 2.0294117647rem  +  2.3529411765vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.0294117647rem  +  2.3529411765vw , 3.75rem )) {
    .membership__list:not(:last-child) {
      margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .membership__subitem:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .membership__subitem:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem )) {
    .membership__price {
      font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3117647059rem  +  0.9411764706vw , 2rem )) {
    .membership__price {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .membership__price:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0147058824rem  +  1.1764705882vw , 1.875rem )) {
    .membership__price:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .airplane {
      padding-top: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .airplane {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .airplane {
      padding-bottom: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7794117647rem  +  2.3529411765vw , 2.5rem )) {
    .airplane {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.125);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 73.125em) {
@supports (width: clamp( 16.25rem , 14.0382352941rem  +  11.0588235294vw , 22.125rem )) {
    .hero__image {
      width: clamp( 16.25rem , 14.0382352941rem  +  11.0588235294vw , 22.125rem );
    }
}

@supports not (width: clamp( 16.25rem , 14.0382352941rem  +  11.0588235294vw , 22.125rem )) {
    .hero__image {
      width: calc(16.25rem + 5.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (height: clamp( 25.4375rem , 24.2610294118rem  +  5.8823529412vw , 28.5625rem )) {
    .hero__image {
      height: clamp( 25.4375rem , 24.2610294118rem  +  5.8823529412vw , 28.5625rem );
    }
}

@supports not (height: clamp( 25.4375rem , 24.2610294118rem  +  5.8823529412vw , 28.5625rem )) {
    .hero__image {
      height: calc(25.4375rem + 3.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-right: clamp( 0.3125rem , -0.0404411765rem  +  1.7647058824vw , 1.25rem )) {
    .booking {
      padding-right: clamp( 0.3125rem , -0.0404411765rem  +  1.7647058824vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.3125rem , -0.0404411765rem  +  1.7647058824vw , 1.25rem )) {
    .booking {
      padding-right: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-left: clamp( 0.3125rem , -0.0404411765rem  +  1.7647058824vw , 1.25rem )) {
    .booking {
      padding-left: clamp( 0.3125rem , -0.0404411765rem  +  1.7647058824vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.3125rem , -0.0404411765rem  +  1.7647058824vw , 1.25rem )) {
    .booking {
      padding-left: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .booking__container {
      padding-left: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .booking__container {
      padding-left: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .booking__container {
      padding-right: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.3897058824rem  +  1.1764705882vw , 1.25rem )) {
    .booking__container {
      padding-right: calc(0.625rem + 0.625 * (100vw - 20rem) / 53.125);
    }
}

@supports (row-gap: clamp( 1.875rem , -0.9485294118rem  +  14.1176470588vw , 9.375rem )) {
    .purposes__items {
      row-gap: clamp( 1.875rem , -0.9485294118rem  +  14.1176470588vw , 9.375rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , -0.9485294118rem  +  14.1176470588vw , 9.375rem )) {
    .purposes__items {
      row-gap: calc(1.875rem + 7.5 * (100vw - 20rem) / 53.125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .hero__image {
    width: 16.25rem;
  }

  .hero__image {
    height: 25.4375rem;
  }

  .booking {
    padding-right: 0.3125rem;
  }

  .booking {
    padding-left: 0.3125rem;
  }

  .booking__container {
    padding-left: 0.625rem;
  }

  .booking__container {
    padding-right: 0.625rem;
  }

  .purposes__items {
    row-gap: 1.875rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    text-decoration: underline;
  }

  .button--violet:hover {
    background-color: #9482b8;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .menu-footer__link a:hover {
    text-decoration: underline;
  }

  .flight-image:hover {
    background-color: #d2d0d0;
  }

  .specifications-item:hover {
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
  }

  .charters__item:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }

  .membership__item:hover {
    color: #fff;
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    background-color: #656293;
  }
}

@media (min-width: 47.99875em){
  .webp .hero__image::before{ background: url(../img/hero/04.webp) 100% 50% no-repeat fixed; }
}